[user]
	email = sid137@gmail.com
	name = Sidney Burks
[color]
	ui = auto
[gc]
	auto = 200
[alias]
	st = status
    ci = commit
	co = checkout
    br = branch
    su = submodule
    w = whatchanged
[github]
	user = sid137
	token = e981929b8f9fdb2a81e900cc9f4f9cd0
[core]
	editor = vim
    excludesfile = ~/.gitignore
[merge]
	tool = kdiff3
