[user]
	email = sid137@gmail.com
	name = Sidney Burks
[color]
	ui = auto
[gc]
	auto = 200
[alias]
	st = status
    ci = commit
	co = checkout
    br = branch
    su = submodule
    w = whatchanged
    fixup = !sh -c 'git commit -m \"fixup! $(git log -1 --format='\\''%s'\\'' $@)\"' -
    squash = !sh -c 'git commit -m \"squash! $(git log -1 --format='\\''%s'\\'' $@)\"' -
    ri = rebase --interactive --autosquash
	unstage = reset HEAD
  uncommit = reset --soft HEAD^
  cp = cherry-pick -x
	lg = log --no-merges --graph --pretty=format:'%C(red)%h%Creset - %C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue) %an%Creset'
[github]
	user = sid137
	token = e981929b8f9fdb2a81e900cc9f4f9cd0
[core]
	editor = vim
	excludesfile = /Users/noli/.gitignore
[merge]
	tool = opendiff
  summary = true
[diff]
  ; tool = opendiff
	; external = /Users/noli/core/bin/git-diff-cmd.sh
[branch "master"]
	remote = origin
	merge = refs/heads/master
[pivotal]
	full-name = Sidney Burks
[mergetool "vimdiff3"]
	cmd = vim -f -d -c \"wincmd J\" \"$MERGED\" \"$LOCAL\" \"$BASE\" \"$REMOTE\"
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[push]
	default = simple
[heroku]
	account = ividata
