Emacs.FontBackend: xft
Emacs.font: Monospace-13


!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
!! XMathematica settings
!! system resources set in:
!! /usr/local/Wolfram/Mathematica/5.1/SystemFiles/FrontEnd/SystemResources/X/XMathematica
!
!! Set these if you need to change what the FE uses for Primary (Command)
!! and Secondary (Option) modifier keys.
!! this is an alternative to using xmodmap to redefine Mod3 (default NumLock)
!!*primaryModifierMask: Mod2Mask
*secondaryModifierMask: Mod3Mask
